element.style {
  z-index: 9999;
}

.pt3 {
  padding-top: 5rem;
}

.pr5 {
  padding-right: 4rem;
}

.fixed {
  position: fixed;
}

.w-100 {
  width: 100%
}

.mb6 {
  margin-bottom: 8rem;
}

.pt7 {
  padding-top: 16rem;
}

.pl1-ns {
  padding-left: 5rem;
}
